@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo-300.woff2') format('woff2'),
        url('../fonts/Museo-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo-500.woff2') format('woff2'),
        url('../fonts/Museo-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo-700.woff2') format('woff2'),
        url('../fonts/Museo-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

